body {
    background-color: #DDFFFF;
    text-align: justify;
}

.header-site {

}

.title-page {

}

.footer-site {
    
}

.gaitas-background-white {
    background-color: #FFF;
}

.gaitas-card {
    border-radius: 16px;
}